@media only screen and (min-device-width: 300px) and (max-device-width: 840px){

	section {
	}

}

@media only screen and (min-device-width: 840px){
	section {
}
}

body {
	background-color: black;
	color: #08dd08;
}

h1 {
}

h2,h3,h4 {

}

p {
}

ul {
}


img {
}



header {
	display: flex;
	justify-content: center;
}

.bg1 {
}

.bg2 {
}

.bg3 {
}

iframe {
}

footer {
}
