
body {
	background-color:#633643;
	color:#CEC2A9;
}

h1 {
}

h2,h3,h4,h5,h6 {
	background-color:#583138;
}

p {
	background-color:#583138;
}

ul,ol {
	background-color:#583138;
}

article{

}

img {
}

li{
	background-color:#583138;
}

header {
	display: flex;
	justify-content: center;
	background-color:#583138;
}

iframe {
}

footer {

}
