@media only screen and (min-device-width: 300px) and (max-device-width: 840px){

	section {
	}

}

@media only screen and (min-device-width: 840px){
	section {
}
}

body {
	background-color:#583138;
	color:#black;
}

h1 {
}

h2,h3,h4,h5,h6 {
	background-color:#633643;
}

p {
	background-color:#633643;
}

ul {
	background-color:#633643;
}

article{

}

img {
}

li{
	background-color:#633643;
}

header {
	display: flex;
	justify-content: center;
	background-color:#CEC2A9;
}

iframe {
}

footer {

}
